.auth-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1c1c1c;
    color: #fff;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    z-index: 1000;
  }
  
  .auth-modal input {
    background-color: #2c2c2c;
    border: 1px solid #444;
    color: #fff;
  }
  
  .auth-modal button {
    margin-top: 15px;
    padding: 10px;
    background-color: #f8c94d;
    color: #000;
  }