<div class="dashboard">
  <h1>Добро пожаловать в личный кабинет администратора!</h1>
  <p>Для изменений нажмите кнопку "Авторизоваться".</p>

  <button (click)="onLoginClick()" [disabled]="isLoading">Авторизоваться</button>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

  <div *ngIf="token" style="margin-top: 20px;">
    <button (click)="onGetBarbersClick()" [disabled]="isLoading">Посмотреть всех наших барберов</button>
  </div>

  <!-- Отображаем таблицу, если барберы загружены -->
  <div *ngIf="barbers.length > 0" style="margin-top: 20px;">
    <h2>Список барберов:</h2>
    <table style="width: 100%; border-collapse: collapse;">
      <thead>
        <tr>
          <!-- При клике на заголовок вызываем onSort -->
          <th (click)="onSort('name')" style="cursor: pointer; border-bottom:1px solid #ccc; padding:5px;">
            Имя 
            <!-- Показываем направление сортировки, если сортируем по этому столбцу -->
            <span *ngIf="sortColumn === 'name'">({{ sortDirection === 'asc' ? '↑' : '↓' }})</span>
          </th>
          <th (click)="onSort('experienceLevel')" style="cursor: pointer; border-bottom:1px solid #ccc; padding:5px;">
            Опыт 
            <span *ngIf="sortColumn === 'experienceLevel'">({{ sortDirection === 'asc' ? '↑' : '↓' }})</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let barber of barbers">
          <td style="border-bottom:1px solid #444; padding:5px;">{{ barber.name }}</td>
          <td style="border-bottom:1px solid #444; padding:5px;">{{ barber.experienceLevel }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>